/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --light-1: #f2f1ef;
  --light-2: #d8cfd0;
  --neutral: #697184;
  --dark-1: #b1a6a4;
  --dark-2: #413f3d;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
