.card {
    padding: 20px;
    background-color: var(--light-2);
    width: 70vw;
    height: 50vh;
  }
  
  textarea {
    height: 90%;
    resize: none;
  }
  
  .choose-option-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 20px;
  }
  